body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#menu a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #58595B;
  text-decoration-line: none;
}


#menu {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}